<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidknowledge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BaseActivity"/>
        <activity android:name=".NotificationManage"/>
        <activity android:name=".ViewManage"/>

        <activity android:name=".NotificationWindow.CreatNotification"/>
        <activity android:name=".NotificationWindow.Information"/>
        <activity
            android:name=".NotificationWindow.Login"
            android:windowSoftInputMode="stateVisible|adjustResize"/>

        <activity android:name=".ListView.ListView1"/>
        <activity android:name=".CustomListView.ProductActivity"/>
        <activity android:name=".GridView.FlowerActivity"/>

        <activity android:name=".InformationAndList.ListInformationActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"/>

        <activity android:name=".TabHost.TabHostActivity"/>

        <!--       cách 1 tránh bàn phím đè lên nội dung
                   android:windowSoftInputMode="stateVisible|adjustResize"

                   cách 2
                   getWindow().setSoftInputMode(WindowManager.LayoutParams.SOFT_INPUT_STATE_VISIBLE|WindowManager.LayoutParams.SOFT_INPUT_ADJUST_RESIZE);-->
        <activity
            android:name=".Intent.IntentActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"/>

        <activity
            android:name=".Intent.DataActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"/>

        <activity android:name=".SaveData.InternalStorage"/>

    </application>

</manifest>